<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Exemplo Node.JS</title>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <br/><br/><br/>
      <h2>Questionário Covid19</h2>
      <br/>
      <% if (news.length > 0) { %>
        <div class="row">
          <% for(var i = 0; i < news.length; i++) {%>
            <div class="col-md-12 jumbotron">
              <h4><%= news[i].pergunta %></h4>
              <% if (news[i].tipo == "unico") { %>
              <select id="cars">
                <% for(var x = 0; x < news[i].respostas.length; x++) {%>
                <option value="<%= news[i].respostas[x].value %>"><%= news[i].respostas[x].option %></option>
                <% } %>
              </select>
              
              <%} else { %>
              <p> <% for(var x = 0; x < news[i].respostas.length; x++) {%>
                <input type="checkbox" id="scales" name="scales"><%= news[i].respostas[x].option %><br>
                <% } %></p>
              <% } %>
            </div>
          <% } %>
        </div>
      <% } %>
    </div>
  </body>
</html>
